.parent {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(16, 1fr);
  
}
.a01 {
  background-color: #0F1629;
 grid-column: 1/2;
 grid-row: 1/2;
  color: white;
  font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
border-radius: 15px;
}
.a02 {
  background-color: red;
 grid-column: 2/5 ;
 grid-row: 1/2;
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.a03 {
  background-color: #4C86C6;
  display: flex;
  border-radius: 30px;
  color: white;
  font-size: 60px;
  justify-content: center;
  align-items: center;
  grid-column: 1/5;
  grid-row: 2/10;
}
.a04 {
  background-color: #24344B;
  display: flex;
  color: white;
  border-radius:20px;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  grid-row: 10/14;
  grid-column: 1/3;
}
.a05 {
  background-color: chocolate;
  grid-row: 10/14;
  grid-column: 3/4;
  border-radius: 20px;
}
.a06 {
  background-color: #C1E4E6;
  grid-row: 10/12;
  grid-column: 4/5;
  font-size: 25px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.a07 {
  background-color: green;
  grid-row: 12/14;
  grid-column: 4/5;
  font-size: 25px;
  border-radius: 15px;
  display: flex;justify-content: center;
  align-items: center;
}
.a08 {
  background-color: yellow;
  grid-row: 14/16;
  grid-column: 1/5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: black;
  border-radius:25px;
}
@media (max-width:789px) and (min-width:500px) {
  .parent {
    width: 100%;
    max-width: 789px;
    height: 700px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(16, 1fr );
  }
  .a01 {
    grid-column: 1/5;
    grid-row: 1/2;
    font-size: 15px;
  }
  .a03 {
    grid-column: 1/5;
    grid-row: 2/6;
    font-size: 15px;
  }
  .a02 {
    grid-column: 1/1;
    grid-row: 6/16;
    font-size: 15px;
    color: white;
  }
  .a04 {
    grid-column: 2/5;
    font-size: 15px;
    grid-row: 6/10;
  }
  .a05{
    display: none;
  }
  .a08 {
    grid-column: 2/5;
    grid-row: 10/13 ;
    font-size: 15px;
  }
  .a07 {
    grid-column: 2/4;
    grid-row: 13/16;
    font-size: 15px;
  }
  .a06 {
    grid-column: 4/5;
    grid-row: 13/16;
    font-size: 15px;
  }
  .homework2 {
      padding: 30px ;
  background-color: blue;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  font-size: 25px;
  text-decoration: none;
  color: white;

  }
}
@media ( max-width:480px) {
  .parent {
    max-width: 480px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(14, 1fr ) ;
  }
  .a01 {
    font-size: 15px;
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .a02 {
    font-size: 15px;
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .a03 {
    font-size: 15px;
    grid-column: 1/5;
    grid-row: 3/5;
  }
  .a04 {
    font-size: 15px;
    grid-column: 1/5;
    grid-row: 5/8;
  }
  .a08 {
    font-size: 15px;
    grid-column: 1/5;
    grid-row: 8/10;
  }
  .a05 {
    display: none;
  }
  .a07{
    font-size: 15px;
    grid-column: 1/5;
    grid-row: 10/12;
  }
  .a06{
    font-size: 15px;
    grid-column: 1/5;
    grid-row: 12/14;
  }
  .homework2 {
      padding: 30px ;
  background-color: blue;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  }
}
.homework2 {
  padding: 30px ;
  background-color: blue;
  width: 150px;
  height: 150px;
  border-radius: 20px;
  font-size: 25px;
  text-decoration: none;
  color: white;
margin-left: 325px;
}